<!--<div className="switch_language">
    <a className="set_language" href="#7"><img src={uk} alt="uk" className="icon"/> EN</a>
    <ul className="language_option">
        <li><a className="set_language" href="#5"><img src={de} alt="de" className="icon"/> DE</a></li>
        <li><a className="set_language" href="#4"><img src={ue} alt="de" className="icon"/> UE</a></li>
    </ul>
</div>-->
<!--.switch_language{
    position: relative;
    padding: .3rem;
    
    .set_language{
        display: flex;
        align-items:center;
        gap: .3rem;
        padding: 0 .3rem .3rem;
        color: black;
        
    }&:hover .language_option{
        display: block;
    }
    img{
        width: 30px;
    }
    .language_option{
        position: absolute;
        top: 100%;
        display: none;
        background-color: white;
        padding: .3rem .3rem .3rem 0;
        
        li{
            margin-top: .6rem;
            display: block;
            
            .set_language{
                display: flex;
                img{
                    font-size: 25px;
                }
            }
        }
    }
}-->